# Files
tesing.ipynb
Youtube_Comments.ipynb

# Environment files
.env
.venv
venv/      
env/

# Directories
__pycache__/
.ipynb_checkpoints/
.DS_Store

# Other
happy-sad-800x800-1-removebg-preview.png
